@model ClassicGarage.Models.CarModels
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Zarejestrowane naprawy";
}

<h2>@ViewBag.title</h2>

<table class="table">
    <tr>
        <th>
            Model
        </th>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Repair)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Car.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairPrice)
            </td>

        </tr>
    }

</table>

@Html.ActionLink("Powrót do bazy samochodów", "Index")

